body{
    margin: 0;
    font-family: Poppins;
}

.container{
    width: 1200px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
}
header{
    background-color: #eee;
    color: #353432;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: larger;
}

.icon-cart{
    position: relative;
    margin-right: 20px; 
}
.icon-cart span{
    position: absolute;
    background-color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fff;
    top: 50%;
    right: -20px;
}
.title{
    font-size: xx-large;
    margin-left: 20px;
}
.listProduct {
    display: grid;
    gap: 20px;
}
.listProduct .item {
    background-color: #eee;
    padding: 20px;
    border-radius: 0px;
    text-align: center;
}
.listProduct .item img {
    width: 300px; 
    height: 200px; 
    object-fit: cover;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 0px;
    font-size: medium;
}
.listProduct .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
}


/*filter*/
.flokkar { 
        width: 900px;
        margin: auto;
        max-width: 90vw;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20PX;
        transition: transform .5s;
}
.button-value {
    border: 2px solid #353432;
    padding: 1em 2.2em;
    border-radius: 2em;
    background-color: transparent;
    color:#353432;
    cursor: pointer;
  }
  .button-value.active {
    background-color: #353432;
    color: #ffffff;
  }

  

/* cart */
.cartTab{
    width: 400px;
    background-color: #353432;
    color: #eee;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
}
body.showCart .cartTab{
    right: 0;
}
body.showCart .container{
    transform: translateX(-250px);
}
.cartTab h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.cartTab .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.cartTab button{
    background-color: #eee;
    border: none;
    font-family: Poppins;
    font-weight: 500;
    cursor: pointer;
}
.cartTab .close{
    background-color: #eee;
}
.listCart .item img{
    width: 100%;
}
.listCart .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listCart .quantity span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #555;
    cursor: pointer;
}
.listCart .quantity span:nth-child(2){
    background-color: transparent;
    color: #eee;
    cursor: auto;
}
.listCart .item:nth-child(even){
    background-color: #eee1;
}
.listCart{
    overflow: auto;
}
.listCart::-webkit-scrollbar{
    width: 0;
}
.hide {
    display: none;
  }

@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
}




/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
}


.Vorunafn {
    color: #353432; /* Set the desired text color */
    text-decoration: none; /* Remove the underline */
}



/* Add these styles to your CSS */
.similar-products {
    text-align: center;
    margin-bottom: 10px;
}

.similar-product-item {
    width: 30%; /* Adjust the width as needed */
    margin: 1%; /* Add some margin between items */
    box-sizing: border-box; /* Include padding and border in the total width/height */
    display: inline-block; /* Display items in a row */
}

.similar-product-item img {
    max-width: 100%; /* Ensure images don't exceed the width of their container */
    height: auto; /* Maintain the aspect ratio of the images */
}

/* Media query for smaller screens */
@media screen and (max-width: 768px) {
    .similar-product-item {
        width: 48%; /* Adjust width for smaller screens */
    }
}


/* Remove underline and set link color */
a {
    text-decoration: none;
    color: #353432;
}

/* Set visited link color */
a:visited {
    color: #353432;
}

/* Set hover link color */
a:hover {
    color: #353432;
    text-decoration: underline;
}

